interface: RGB25

globals:
  name: Other asset
  details: Asset description
  precision: 0
  data:
    terms: demo CFA asset
    media: ~
  issuedSupply: issued_supply
  created: created_timestamp

assignments:
  assetOwner:
    seal: closing_method:txid:vout
    amount: issued_supply
